<%- include('../partials/header') %>
<section id="show-page">
    <div class="container">
        <form id="update-location-form" method="POST" action="/cities/<%= city._id %>?_method=PUT">
            <label>New Location Name</label>
            <input type="text" name="location">
            <input type="submit" value="Update Location">
        </form>
        <h1><%= city.location %></h1>
        <form id="add-destination-form" method="POST" action="/cities/<%= city._id %>/destinations">
            <label>ADD PHOTO</label>
            <input type="text" name="images">
            <label>ADD CAPTION</label>
            <input type="text" name="info"></input>
            <input type="submit" value="Add Attraction">
        </form>
        <% if (city.destination.length) { %>
        <% city.destination.forEach(function(d) { %>
        <img style="width: 400px" src="<%= d.images %>">
        <div> <%= d.info %> </div>
        <form id="delete-destination-form" method="POST"
            action="/cities/<%= city._id %>/destinations/<%= d._id %>?_method=DELETE">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit">Delete</button>
        </form>
        <% }); %>
        <%  } else { %>
        <h2>Share Your Adventure!</h2>
        <% } %>
        <a href="/users">Go Home</a>
    </div>
</section>
<%- include('../partials/footer') %>