<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Neuton:700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <nav>
        <div class="nav-wrapper cyan darken-3">
            <a href="/users" class="brand-logo left">Take Me Away</a>
            <ul class="right">
                <li><a href="/cities/new" class="center">Add A Location</a></li>
                <li>
                    <% if (user) { %>
                    <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
                    <% } else { %>
                    <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
                    <% } %>
                </li>
            </ul>
        </div>
    </nav>
    <section id="user-home-page">
        <div class="container">
            <div class="center-align">
                <%  user.cities.forEach(function(city){  %>
                <div class="row">
                    <div class="col s12">
                        <h5><a href="/cities/<%=city._id %>"><%= city.location %></a></h5>
                    </div>
                    <% city.destination.slice(0,3).forEach(function(d) { %>
                        <% if(city.destination.length == 1) { %>
                    <div class="col s12 m12 l12">
                        <img class="center-align" style="width:250px;" src="<%= d.images %>">
                    </div>
                        <% } %>
                        <% if(city.destination.length == 2) { %>
                    <div class="col s12 m6 l6">
                        <img class="center-align" style="width:250px;" src="<%= d.images %>">
                    </div>
                        <% } %>
                        <% if(city.destination.length >= 3) { %>
                    <div class="col s12 m6 l4">
                        <img class="center-align" style="width:250px;" src="<%= d.images %>">
                    </div>
                        <% } %>

                    <% }); %>
                    <% }); %>
                </div>
            </div>
        </div>
        </div>
    </section>

    <%- include('../partials/footer') %>