<%- include('../partials/header') %>
<section id="user-home-page">
    <div class="container">
        <table class="centered">
            <%  user.cities.forEach(function(city){  %>
            <thead>
                <tr>
                    <th><a href="/cities/<%=city._id %>"><%= city.location %></a></th>
                </tr>
            </thead>
            <tr>
                <% city.destination.splice(0,3).forEach(function(d) { %>
                <td><img style="width:250px;" src="<%= d.images %>"></td>
            </tr>
            <% }); %>
            <% }); %>
        </table>
        <a href="/cities/new">Add A Location</a>
    </div>
</section>

<%- include('../partials/footer') %>